<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="/css/lightbox.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css">
  

</head>
<body>
  <nav>
    <a href="/">Home</a> | <a href="/toys/">Toys</a> | <a href="/media/">Media</a> | <a href="/misc/">Miscellaneous</a> | <a href="/guestbook/">Guestbook</a> | 
  </nav>
  <hr />
  <main>
    {{ content | safe }}
  </main>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/lightbox.js"></script>

<script type="text/javascript">
(function() {
    document.querySelectorAll('.item-table > .item-entry').forEach((item, index) => {
        if (!item.id) {
            item.id = `item-${index}`;
        }

        const link = document.createElement('a');
        const img = document.createElement('img');
        img.src = '/images/link-icon.svg';
        img.style.transition = 'opacity 0.1s ease-in-out';

        link.href = `#${item.id}`;
        link.class = 'anchor';
        link.appendChild(img);

        // When clicked, copy the full URL with the anchor to the clipboard
        link.addEventListener('click', function(event) {
            event.preventDefault(); // prevent jumping
            const fullUrl = `${window.location.origin}${window.location.pathname}#${item.id}`;
            navigator.clipboard.writeText(fullUrl)
                .then(() => {
                    img.style.opacity = '0.3';
                    setTimeout(() => { img.style.opacity = '1'; }, 150);
                })
                .catch(err => {
                    console.error('Failed to copy:', err);
                });
        });

        item.appendChild(link);
    });
})();
</script>

</body>

</html>
